body {
    position: fixed;
    display: flex;
    background-image: url('/image/background-crew.jpg');
    background-size: cover;
   
}

nav {
    background-color: inherit;
    backdrop-filter: blur(20px);
    position: fixed;
    right: 0px;
    display: flex;
    height: 80px;
    width: 700px;
    margin-top: 20px;
}

.box {

    color: aliceblue;
    text-align: center;
    margin: 10px;
    width: 120px;
    height: 40px;
    margin-right: 0px;
    padding-top: 10px;
    margin-top: 10px;

}

.box:hover {
    color: rgb(14, 154, 154);

}

a {
    text-decoration: none;
}

.line2 {
    position: relative;
    left: 93px;
    top: 48px;
    height: 1px;
    width: 519px;
    background-color: white;
    opacity: 30%;
}

.logo1 {
    position: relative;
    left: 60px;
    margin-top: 20px;
}

.meet {
    color: white;
    display: flex;
    position: fixed;
    left: 160px;
    top: 160px;
    font-size: 20px;
}
.zerotwo{
    color: white;
    display: flex;
    position: fixed;
    left: 130px;
    top: 160px;
    font-size: 20px;
    opacity: 50%;
}
.mission {
    color: white;
    display: flex;
    position: fixed;
    left: 160px;
    top: 280px;
    font-size: 20px;
    opacity: 50%;
}

.shupic {
    display: flex;
    position: fixed;
    right: 260px;
    top: 150px
}

.shupic img {
    width: 400px;
}
.anouspic{
    display: flex;
    position: fixed;
    right: 260px;
    top: 250px
}
.anouspic img {
    width: 400px;
}
.victorpic{
    display: flex;
    position: fixed;
    right: 260px;
    top: 250px
}
.victorpic img {
    width: 400px;
}
.mark {
    color: white;
    display: flex;
    position: fixed;
    left: 160px;
    top: 300px;
    font-size: 45px;
}

.textcrew {
    color: white;
    display: flex;
    position: fixed;
    left: 160px;
    top: 400px;
    font-size: 15px;
}

.no1 {
    background-color: white;
    display: flex;
    height: 10px;
    width: 10px;
    position: fixed;
    left: 150px;
    top: 420px;
    font-size: 25px;
    margin: 100px;
    border-radius: 100px;

}

.no2 {
    background-color: white;
    display: flex;
    height: 10px;
    width: 10px;
    position: fixed;
    left: 200px;
    top: 420px;
    font-size: 25px;
    margin: 100px;
    border-radius: 100px;

}

.no3 {
    background-color: white;
    display: flex;
    height: 10px;
    width: 10px;
    position: fixed;
    left: 250px;
    top: 420px;
    font-size: 25px;
    margin: 100px;
    border-radius: 100px;

}

.no4 {
    background-color: white;
    display: flex;
    height: 10px;
    width: 10px;
    position: fixed;
    left: 300px;
    top: 420px;
    font-size: 25px;
    margin: 100px;
    border-radius: 100px;

}