body {
    position: fixed;
    display: flex;
    background-image: url('/image/backimg.jpg');
    background-size: cover;
}

.para1 {
    color: white;
    position: relative;
    left: 200px;
    font-size: 20px;
    top: 200px;
}

.para2 {
    color: white;
    position: relative;
    left: 200px;
    font-size: 100px;
    top: 100px;
}

.para3 {
    color: white;
    position: relative;
    top: 50px;
    left: 200px;
}

nav {
    background-color: inherit;
    backdrop-filter: blur(20px);
    position: fixed;
    right: 0px;
    display: flex;
    height: 80px;
    width: 700px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.box {

    color: aliceblue;
    text-align: center;
    margin: 10px;
    width: 120px;
    height: 40px;
    margin-right: 0px;
    padding-top: 10px;
    margin-top: 10px;

}
.box:hover{
    color: rgb(14, 154, 154);

}

.circle {
    background-color: white;
    position: relative;
    left: 600px;
    top: 340px;
    display: flex;
    width: 190px;
    height: 190px;
    border-radius: 500px;
    opacity: 60%;
}

.circle:hover {
    background-color: white;
    opacity: 100%;
}

.explo {
    position: relative;
    left: 42px;
    top: 50px;
    font-size: 25px;

}

.logo {
    position: relative;
    right: 500px;
    margin-top: 20px;
}

.line {
    position: relative;
    right: 470px;
    top: 42px;
    height: 1px;
    width: 480px;
    background-color: white;
    opacity: 30%;
}